.search_crq {
  width: 100%;
  font-size: 16px;
  margin: 0px auto;

  textarea {
    resize: none
  }
  .radio-inline.search_condition {
    margin-right: 10px;
    margin-left: 0;
  }
  .form-group.search_mode {
    display: inline-block;
    .tooltip1{
      .tool1{
        display: none;
      }
      &:hover{
        .tool1{
          display: block;
        }
      }
    }
    .tooltip2{
      .tool2{
        display: none;
      }
      &:hover{
        .tool2{
          display: block;
        }
      }
    }
  }
  .form-group.search_price input {
    width: 115px;
  }
  .search_moods_hide, .search_client_hide, .search_address_hide, .search_condition_hide {
    display: none;
  }
  .chooseCondition {
    position: relative;
    height: 21px;
    width: 110px;
    cursor: pointer;
  }

  .chooseCondition:hover .cc_arrow {
    transform-origin: 50% 50% 0px;
    transform: rotateZ(-180deg);
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .chooseCondition {
    .cc_logo {
      width: 15px;
      height: 15px;
      float: left;
      margin: 3px auto;
    }

    .cc_logo img {
      width: 100%;
      height: auto;
    }

    .cc_text {
      width: 65px;
      padding: 0px 5px;
      float: left;
      line-height: 21px;
    }

    .cc_arrow {
      float: left;
      width: 16px;
      height: 16px;
      margin: 2px auto;
    }

    .cc_arrow img {
      width: 100%;
      height: auto;
    }

    .fixed_cc {
      position: absolute;
      z-index: 9;
      display: none;
      top: 21px;
      width: 480px;
      border: 1px solid #ccc;
      padding: 10px;
      background: #fff;
    }
  }
  .chooseCondition:hover .fixed_cc {
    display: block;
    color: #222;
    font-size: 12px;
  }

  .search_address {
    position: relative;
    height: 21px;
    width: 140px;
    cursor: pointer;
  }

  .search_address:hover .search_address_select {
    transform-origin: 50% 50% 0px;
    transform: rotateZ(-180deg);
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .search_address:hover .search_address_warp {
    display: block;
    color: #222;
  }

  .search_address_logo {
    width: 15px;
    height: 15px;
    float: left;
    margin: 3px auto;
  }

  .search_address_logo img {
    width: 100%;
    height: auto;
  }

  .search_address_title {
    width: 100px;
    padding: 0px 5px;
    float: left;
    line-height: 21px;
  }

  .search_address_select {
    float: left;
    width: 12px;
    height: 17px;
    margin: 2px auto;
  }

  .search_address_select img {
    width: 100%;
    height: auto;
  }

  .search_address_warp {
    position: absolute;
    z-index: 9;
    display: none;
    width: 228px;
    min-height: 20px;
    top: 20px;
    left: -124px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    & .radio-inline {
      width: 30%;
      margin: 0;
      font-size: 16px;
    }
  }

  .fixed_cc_list {
    overflow: hidden;
    clear: both;
    height: 120px;
    & .checkbox-inline {
      width: 30%;
      margin: 0;
      font-size: 16px;
    }
  }

  .search_button {
    margin-top: 50px;
    text-align: center;
    .button {
      width: 145px;
      color: #fff;
      font-size: 30px;
      line-height: 50px;
      background: $blue-base;
      border-radius: 5px;
    }
  }
  .load_list {
    position: absolute;
    top: 32px;
    left: 5px;
    background: #fff;
    z-index: 9;
    min-height: 80px;
    padding: 0px 10px;
    border: 1px solid #0388ff;
    max-height: 300px;
    overflow-y: auto;
  }

  .load_list ul li {
    overflow: hidden;
    clear: both;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .load_list ul li:last-child {
    border: none;
  }

  .load_logo {
    width: 50px;
    float: left;
  }

  .load_txt {
    width: 300px;
    float: left;
    padding-left: 10px;
    color: #222;
  }

  .load_txt_goods {
    padding-bottom: 5px;
  }

  .load_txt_btn span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    border: 1px solid #0388ff;
    border-radius: 12px;
    padding: 2px 5px;
    margin-right: 10px;
    color: #0388ff;
  }

  #inupt_hink {
    background: #fff;
    border: solid 1px #0388ff;
    z-index: 100;
  }

  #inupt_hink li {
    padding: 0 10px;
    cursor: pointer;
    color: #222;
  }

  #inupt_hink li:hover {
    background: #ccc;
  }

  .search-locs {
    position: relative;
    &:hover {
      .locs-hover-box {
        display: block;
      }
      .glyphicon.glyphicon-triangle-bottom:before {
        content: "\e253";
      }
    }
    .search-locs-text {
      max-width: 95px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }
    .glyphicon {
      font-size: 12px;
      vertical-align: middle;
    }
    .locs-hover-box {
      display: none;
      position: absolute;
      padding: 10px;
      width: 335px;
      border: 1px solid #ddd;
      background: #fff;
      font-size: 12px;
      color: #222;
      z-index: 100;
      > .inner {
        .box-title {

        }
        .box-top {
          border-bottom: 1px solid #ddd;
        }
        .box-middle {
          border-bottom: 1px solid #ddd;
        }
        .title-inner {
          padding: 5px;
        }
        .city-wide {
          font-weight: bold;
        }
        .box-item {
          float: left;
          padding: 5px;
          cursor: pointer;
          &:hover {
            background: #ddd;
          }
        }
        .btn.btn-primary {
          background: #3384f2;
          color: #fff;
        }
      }
    }
  }
}