.con_img {
  vertical-align: middle;
  margin: 10px 10px 10px 0;
  width: 25px;
  padding-left: 10px;
}

#left_menu_wamp {
  width: 180px;
  background-color: #f6f7fa;
  #menu_wamp_detail {
    ul {
      width: 180px;
      .active {
        border-left: 4px solid #1a92fe;
        background-color: #fff;
        box-shadow: 1px 4px 3px #ebecef;
      }
      .left_big_menu {
        font-size: 16px;
        line-height: 50px;
        color: #333333;
        font-weight: 700;
        img {
          margin-top: 6px;
        }
        .left_small_menu {
          font-size: 16px;
          li {
            height: 50px;
            padding-left: 60px;
            display: block;
          }
        }
      }
    }
  }
}