.nav {
  display: block;
  position: relative;
  background: #f7f7f7;
  font-size: 16px;
  margin-bottom: 0;
  .nav-item {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-bottom: 2px solid #f7f7f7;
    &:hover{
      background: #eee;
      border-bottom: 2px solid #eee;
    }
    > a {
      font-size: 16px;
      color: #222;
      text-decoration: none;
      &:hover, &:focus {
        color: #2e4758;
      }
    }
    &.active{
      background: #fff;
      color: $blue-base;
      border-bottom: 2px solid $blue-base;
    }
  }
  &.nav-border-top{
    .nav-item{
      border-bottom: 0;
      border-top: 2px solid #f7f7f7;
      &.active{
        border-bottom: 0;
        border-top: 2px solid $blue-base;
      }
      &:hover{
        background: #eee;
        border-top: 2px solid #eee;
      }
    }
  }
}