.text-center{
    text-align:center;
}
.user-login .modal-header .close{
    margin-top: 6px;
    font-size: 33px;
    background: #f7f7f7;     
}
.user-login .modal-header {
    background: #f7f7f7;    
}
.user-login .modal-header .modal-title {
    padding-left: 20px;    
}
.user-login{
    width:464px;
}
.user-login-l{
    width:574px;
}

.bindStore .modal-header{
    background-color: #57B1FF;
    text-align: center;
}
.bindStore .modal-title{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.bindStore .modal-header .close{
    background-color: #57B1FF;
}
.user-login .login{
    margin-top: 0px;
    margin-bottom: 30px;
}
.user-login .login input[type="text"],.user-login .login input[type="password"]{
    height: 45px;
}
.signIn .modal-footer .btn-save{
    width: 300px;
    margin-bottom: 15px;
}
.login .modal-footer .btn-save{
    width: 400px;
}

.login .modal-body{
    width: 400px;margin:30px auto 0 auto;
}
.user-login .modal-footer .btn-save{
    background-color: #0388ff;padding:4px 15px;
}

.user-login .modal-footer{
    border:none;
}

.user-login .other-login .other-login-txt{
    line-height: 59px;height:60px;text-align:center;
}
.user-login .other-login .other-login-txt .line{
    width:90px;display:inline-block;border-top: 1px solid #ccc;
}
.user-login .other-login .other-login-txt .text{
    vertical-align: middle;padding:0 20px;
}

.user-login .login .input-group-addon{
    color: #ccc;
}

.user-login .signIn .text-remind{
    margin-left: 67px;
    
}
.user-login .signIn .text-remind a{
    color:#0388ff;
}

.signIn .modal-body{
    margin:30px auto 0 auto;
}
.user-login .signIn input[type="text"],.user-login .signIn input[type="password"]{
    height: 40px;
}
.user-login .signIn .control-label{
    width: 87px;
    padding-top: 11px;
}
.user-login .bindStore .control-label{
    width: 115px;
}
label.error{
    position: absolute;
    top: 27px;
    left: 0;
    font-size: 14px;
    width: 180px;
    padding: 5px 25px;
    border: solid 1px #e6ae8f;
    color: #ef0000;
    vertical-align: middle;
    z-index: 20;
    background: url("/images/x.svg") 0px 7px no-repeat #fff;
    background-size: 24px 15px;
}
label.error:after{
    content: '';
    position: absolute;
    top: -6px;
    left: 25px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-top: solid 1px #e6ae8f;
    border-left: solid 1px #e6ae8f;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
