//position
.pos_r {
  position: relative;
}

.pos_a {
  position: absolute;
}

.pos_f {
  position: fixed;
}

//margin and padding
.m_t_10 {
  margin-top: 10px;
}

.m_b_10 {
  margin-bottom: 10px;
}

.r_left {
  float: left;
}

.r_right {
  float: right;
}

//font_color
.text_base {
  color: $color-base;
}

.text_primary {
  color: $color-primary;
}

.text_warning {
  color: $color-warning;
}

.text_green {
  color: $green-base;
}

.text_info {
  color: #5BC0DE;
}

.text_orange {
  color: $text-orange;
}

.text_danger {
  color: $color-danger;
}

.text_success {
  color: $color-success;
}

.text_disable {
  color: $color-disable;
}

.text_base_imp {
  color: $color-base !important;
}

.text_primary_imp {
  color: $color-primary !important;
}

.text_warning_imp {
  color: $color-warning !important;
}

.text_info_imp {
  color: #5BC0DE !important;
}

.text_danger_imp {
  color: $color-danger !important;
}

.text_success_imp {
  color: $color-base !important;
}

.text_disable_imp {
  color: $color-disable !important;
}

//cursor
.cursor_hand {
  cursor: pointer !important;
}

.cursor_arrow {
  cursor: default !important;
}

//table center  middle
.text_center {
  text-align: center;
}

.text_middle{
  vertical-align: middle;
}

.text_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no_transition {
  transition: none;
}

.no_shadow {
  box-shadow: none;
}

//font-size
.font_size_12 {
  font-size: 12px;
}

.font_size_14 {
  font-size: 14px;
}

.font_size_16 {
  font-size: 16px;
}

.font_size_18 {
  font-size: 18px;
}

.font_size_20 {
  font-size: 20px;
}

.font_size_22 {
  font-size: 22px;
}

.font_size_24 {
  font-size: 24px;
}

.hide {
  display: none;
}

.hide_imp {
  display: none !important;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}

.title_bar {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  background: #fff;
  .title_bar_inner {
    .title {
      padding: 10px;
      padding-left: 15px;
      height: 36px;
      line-height: 36px;
      font-size: 16px;
      .description {
        color: #444;
        font-size: 12px;
        padding-left: 5px;
        font-weight: initial;
      }
    }
  }
}

//bg-color
.bg_warning {
  background-color: $bg-color-orange;
  color: $white-base;
}

.bg_green {
  background-color: $green-base;
  color: $white-base;
}

.link {
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.no_decoration {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: underline;
  }
}