<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="description"
          content="查人气-全新模式为淘宝卖家提供在线查询关键词排名,行业数据,店铺数据,全网聚划算,淘抢购数据,热词成交分析,宝贝排名权重,宝贝sku分析,宝贝评价与问大家分析,淘宝指数等电商数据分析功能.">
    <meta name="keywords" content="淘宝关键词排名查询,宝贝排名查询,淘宝排名,淘宝权重查询,淘宝降权查询,卖家工具箱,动态评分查询,直通车优化">
    <title>查人气-淘宝天猫网店卖家数据统计分析必备工具</title>
    <link rel="stylesheet" href="./style/charenqi.css">
</head>

<body>
<div class="frame">
    <div data-header="header"></div>
    <div class="body home_page" id="home_page">
        <div id="one_box">
            <div class="nav_bar">
                <div class="nav_bar_inner">
                    <div class="nav_bar_item" :class="{'active':actionType == 'rank'}"
                         v-on:click="switchActionType('rank')">查排名
                    </div>
                    <div class="nav_bar_item" :class="{'active':actionType == 'keyword'}"
                         v-on:click="switchActionType('keyword')">热词成交分析
                    </div>
                    <div class="nav_bar_item" :class="{'active':actionType == 'SKU'}"
                         v-on:click="switchActionType('SKU')">SKU销售统计
                    </div>
                    <div class="nav_bar_item" :class="{'active':actionType == 'comment'}"
                         v-on:click="switchActionType('comment')">评论与问大家分析
                    </div>
                </div>
            </div>
            <div class="form-horizontal search_crq">
                <div class="form-group" v-show="showElement.device">
                    <span class="control-label col-lg-2">搜索入口：</span>
                    <div class="col-lg-10">
                        <label class="radio-inline" for="PC">
                            <input type="radio" name="search_device" id="PC" value="PC" v-model="search.device"> 淘宝
                        </label>
                        <label class="radio-inline" for="PC_TM">
                            <input type="radio" name="search_device" id="PC_TM" value="PC_TM" v-model="search.device">天猫
                        </label>
                        <label class="radio-inline" for="WX">
                            <input type="radio" name="search_device" id="WX" value="WX" v-model="search.device"> 手机淘宝
                        </label>
                        <label class="radio-inline" for="WX_TM">
                            <input type="radio" name="search_device" id="WX_TM" value="WX_TM" v-model="search.device">手机天猫
                        </label>
                    </div>
                </div>
                <div class="form-group" v-show="showElement.type">
                    <span class="control-label col-lg-2">查询模式：</span>
                    <div class="col-lg-10">
                        <label class="radio-inline" for="search_type_item">
                            <input type="radio" name="search_type" id="search_type_item" value="item"
                                   v-model="search.type"> 查指定宝贝
                        </label>
                        <label class="radio-inline" for="search_type_wangwang">
                            <input type="radio" name="search_type" id="search_type_wangwang" value="wangwang"
                                   v-model="search.type"> 查指定店铺
                        </label>
                    </div>
                </div>
                <div class="form-group" v-show="search.type == 'item' && showElement.key">
                    <span class="control-label col-lg-2">宝贝链接：</span>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="请输入宝贝链接或ID"
                               v-on:focus="searchKeyFocus()" v-on:blur="searchKeyBlur()" v-model="search.key"/>
                        <div v-cloak class="load_list" v-if="isShowKeyList">
                            <ul id="foucs_list">
                                <li v-for="keyItem in keyList" v-on:click="selectKeyList(keyItem)">
                                    <div class="load_logo">
                                        <img :src="keyItem.imgSrc">
                                    </div>
                                    <div class="load_txt">
                                        <div class="load_txt_goods">店铺名：{{keyItem.shopName}}</div>
                                        <div class="load_txt_goods">商品名：{{keyItem.title}}</div>
                                        <div class="load_txt_btn"><span>{{keyItem.keyword}}</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div v-cloak class="form-group" v-show="search.type == 'wangwang'">
                    <span class="control-label col-lg-2">旺旺号：</span>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="请输入店铺旺旺号" v-model="search.wangwang"/>
                    </div>
                </div>
                <div class="form-group" v-show="showElement.keyword">
                    <span class="control-label col-lg-2">关键词：</span>
                    <div class="col-lg-10">
                        <textarea type="text" class="form-control input_area" placeholder="最多支持20个关键词同时查询（回车换行分隔）"
                                  v-on:keyup="keywordKeyup()" v-on:blur="keywordBlur()"
                                  v-model="search.keyword"></textarea>
                        <ul v-cloak id='inupt_hink' v-show="keywordList.length" style='position:absolute;'>
                            <li v-for="keywordItem in keywordList" v-on:click="selectKeyword(keywordItem)">
                                {{keywordItem.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" v-show="showElement.rank">
                    <span class="control-label col-lg-2">排序：</span>
                    <div class="col-lg-10">
                        <label class="radio-inline" for="RANK_SYN">
                            <input type="radio" name="search_rank" id="RANK_SYN" value="zonghe" v-model="search.rank">
                            综合
                        </label>
                        <label class="radio-inline" for="RANK_SALES">
                            <input type="radio" name="search_rank" id="RANK_SALES" value="sale" v-model="search.rank">
                            销量
                        </label>
                        <label class="radio-inline" for="RANK_MOODS"
                               v-show="search.device != 'WX' && search.device != 'WX_TM'">
                            <input type="radio" name="search_rank" id="RANK_MOODS" value="renqi" v-model="search.rank">
                            人气
                        </label>
                        <div class="radio-inline search_condition">
                            <div class="chooseCondition">
                                <div class="clearfix">
                                    <div class="cc_text">
                                        筛选条件
                                    </div>
                                    <span class="cc_arrow glyphicon glyphicon-menu-down"></span>
                                </div>
                                <div class="fixed_cc">
                                    <div class="fixed_cc_list">
                                        <label class="checkbox-inline" :for="condition.name"
                                               v-for="condition in conditionActive">
                                            <input type="checkbox" :id="condition.name" :value="condition.value"
                                                   v-model="condition.select">{{condition.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="radio-inline radio-inline-price" style="margin-left: 0;padding-left: 0;">
                            <span class="" style="">价格：</span>
                            <label class="" style="position: relative;">
                                <input type="text" class="form-control form-control-static input-sm"
                                       style="width: 80px;" v-model="search.minPrice">
                                ~
                                <input type="text" class="form-control form-control-static input-sm"
                                       style="width: 80px;" v-model="search.maxPrice">
                            </label>
                        </div>
                        <div v-cloak class="radio-inline search-locs" v-if="actionType == 'keyword'">
                            <label>
                                <span class="search-locs-text" name="search-locs">{{search.locs}}</span>
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </label>
                            <div class="locs-hover-box">
                                <div class="inner">
                                    <div class="box-top clearfix">
                                        <div class="box-item" v-if="index <= 11" v-for="(locsItem, index) in locsList"
                                             v-on:click="locsClick(locsItem)">
                                            {{locsItem.name}}
                                        </div>
                                    </div>
                                    <div class="box-middle clearfix">
                                        <div class="box-item" v-if="index >11 && index <= 42"
                                             v-for="(locsItem, index) in locsList" v-on:click="locsClick(locsItem)">
                                            {{locsItem.name}}
                                        </div>
                                    </div>
                                    <div class="box-bottom clearfix">
                                        <div class="box-item" v-if="index >42" v-for="(locsItem, index) in locsList"
                                             v-on:click="locsClick(locsItem)">
                                            {{locsItem.name}}
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <input style="width: 250px;" class="form-control form-control-static input-sm"
                                               type="text" placeholder="多个地区用逗号分隔" v-model="customLocs">
                                        <button class="btn btn-primary" v-on:click="locsClick()">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" v-show="showElement.mode">
                    <span class="control-label col-lg-2">搜索方式：</span>
                    <div class="col-lg-10">
                        <div class="form-group search_mode">
                            <label class="radio-inline tooltip1" for="CLIENT" style="position: relative;"
                                   v-show="search.device != 'PC_TM' && search.device != 'WX_TM'">
                                <input type="radio" name="search_mode" id="CLIENT" value="client" v-model="search.mode">
                                <div class="tool1">
                                    <p>去除浏览器缓存和个性化基础上的<span class="text_c">真实本地排名</span>，可能会和您浏览器自己查询排名有一定差异，此为正常情况。</p>
                                    <span class="arrow1"></span>
                                </div>
                                <span id="tool1">本机</span>
                            </label>
                            <label class="radio-inline tooltip2" for="SERVER" style="position: relative;">
                                <input type="radio" name="search_mode" id="SERVER" value="server" v-model="search.mode">
                                <div class="tool2">
                                    <p>
                                        利用部署在全国各地的云服务器，排除<span class="text_c">浏览器缓存</span>和<span
                                            class="text_c">个性化</span>影响，真实去查询全国各地的宝贝排名，方便了解<span
                                            class="text_c">不同地域</span>的排名情况.
                                    </p>
                                    <span class="arrow2"></span>
                                </div>
                                <span id="tool2">云服务</span>
                            </label>
                        </div>
                        <div v-cloak class="radio-inline" v-if="search.mode == 'server'">
                            <div class="search_address b_n">
                                <div class="search_address_title">
                                    选择千人千面
                                </div>
                                <span class="search_address_select glyphicon glyphicon-menu-down"></span>
                                <div class="search_address_warp">
                                    <label class="radio-inline" :for="serverItem.name"
                                           v-for="(serverItem, index) in serverList">
                                        <input type="radio" name="search_address" :id="serverItem.name"
                                               :value="serverItem.value" v-model="search.serverAddress"/>{{serverItem.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="search_button">
                        <button class="button" v-on:click="inquire()">查询</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="tow_box">
            <div class="box_content">
                <div class="box-item">
                    <div class="item-title">今日关注上升榜</div>
                    <div class="item_content">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 40px;">排名</th>
                                <th>关键词</th>
                                <th style="width: 70px;">关注指数</th>
                                <th style="width: 70px;">升降位次</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in todayFocusTopList">
                                <td>{{index + 1}}</td>
                                <td>{{item.keyword}}</td>
                                <td>{{item.saleNum}}</td>
                                <td>
                                    <span v-if="item.upOrDown == 1" class="text_warning">↑</span>
                                    <span v-if="item.upOrDown != 1" class="text_success">↓</span>
                                    {{item.upOrDownNum}}
                                </td>
                            </tr>
                            <tr v-if="!todayFocusTopList.length" class="text_center">
                                <td colspan="4">暂无数据~</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-title">一周关注热榜</div>
                    <div class="item_content">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 40px;">排名</th>
                                <th>关键词</th>
                                <th style="width: 70px;">关注指数</th>
                                <th style="width: 70px;">升降位次</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in weekFocusTopList">
                                <td>{{index + 1}}</td>
                                <td>{{item.keyword}}</td>
                                <td>{{item.saleNum}}</td>
                                <td>
                                    <span v-if="item.upOrDown == 1" class="text_warning">↑</span>
                                    <span v-if="item.upOrDown != 1" class="text_success">↓</span>
                                    {{item.upOrDownNum}}
                                </td>
                            </tr>
                            <tr v-if="!weekFocusTopList.length" class="text_center">
                                <td colspan="4">暂无数据~</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-title">今日实时查询</div>
                    <div class="item_content">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 110px;">用户</th>
                                <th>关键词</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in todaySearchCountList">
                                <td>{{item.username}}</td>
                                <td>
                                    <div style="height: 20px;overflow: hidden;line-height: 20px;">
                                        {{item.keyword}}
                                    </div>
                                </td>
                            </tr>
                            <tr v-if="!todaySearchCountList.length" class="text_center">
                                <td colspan="2">暂无数据~</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box_banner">
                    <a href="http://www.renqizhu.cn/InviteAward/invite" target="_blank">
                        <img src="./image/trade_home_page/home02_02.jpg?1" alt=""/>
                    </a>
                </div>
            </div>
        </div>
        <div id="tree_box">
            <div class="inner">
                <div class="box_title">
                    全网类目热词
                </div>
                <div class="box_content">
                    <div class="left_nav">
                        <div class="nav_tabs" id="tree_left_nav_tabs">
                            <div class="nav_tab_item" v-on:click="swatchAllWebCat(index)"
                                 v-bind:class="{active: item.active}"
                                 v-for="(item, index) in allWebCatHotKeywords"><a href="javascript:void(0)">{{item.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="right_content">
                        <div class="top_tab">
                            <div class="nav_tabs" id="tree_top_nav_tabs">
                                <div class="nav_tab_item" v-on:click="swatchAllWebCatTops(index)"
                                     v-bind:class="{active: item.active}"
                                     v-for="(item, index) in allWebCat.catInfos"><a href="javascript:void(0)">{{item.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="result_content">
                            <table>
                                <thead>
                                <tr>
                                    <th style="width: 80px;text-align: left;">排名</th>
                                    <th style="text-align: left;">关键词</th>
                                    <th style="width: 120px;text-align: left;">关注指数</th>
                                    <th style="width: 120px;text-align: left;">升降位次</th>
                                    <th style="width: 120px;text-align: left;">升降幅度</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in allWebCatTops">
                                    <td style="text-align: left;">
                                        <span class="top-red">{{index + 1}}</span>
                                    </td>
                                    <td style="text-align: left;"><a target="_blank" v-bind:href="'http://hot.charenqi.cn/site/hotword_all?id='+item.id">{{item.keyword}}</a></td>
                                    <td style="text-align: left;">{{item.saleNum}}</td>
                                    <td style="text-align: left;">{{item.upOrDownNum}}</td>
                                    <td style="text-align: left;">
                                        <span v-if="item.upOrDown == 1" class="text_warning">↑</span>
                                        <span v-if="item.upOrDown != 1" class="text_success">↓</span>
                                        {{item.upOrDownPercent}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="four_box">
            <div class="inner">
                <div class="box_title">查人气功能</div>
                <div class="box_content">
                    <div class="content_inner clearfix">
                        <div class="box_item">
                            <div class="item_inner">
                                <div class="item_icon">
                                    <img src="./image/trade_home_page/crq_01.png" alt=""/>

                                    <div class="item_title">单品查</div>
                                </div>
                                <div class="item_text">
                                    查询宝贝真实排名和了解宝贝的推广效果
                                </div>
                            </div>
                        </div>
                        <div class="box_item">
                            <div class="item_inner">
                                <div class="item_icon">
                                    <img src="./image/trade_home_page/crq_02.png" alt=""/>

                                    <div class="item_title">SKU统计</div>
                                </div>
                                <div class="item_text">
                                    统计单品各个维度的SKU占比找热卖SKU和潜力SKU
                                </div>
                            </div>
                        </div>
                        <div class="box_item">
                            <div class="item_inner">
                                <div class="item_icon">
                                    <img src="./image/trade_home_page/crq_03.png" alt=""/>

                                    <div class="item_title">评价分析</div>
                                </div>
                                <div class="item_text">
                                    统计单品不同买家的优质评价，掌握买家所关心的维度
                                </div>
                            </div>
                        </div>
                        <div class="box_item">
                            <div class="item_inner">
                                <div class="item_icon">
                                    <img src="./image/trade_home_page/crq_04.png" alt=""/>

                                    <div class="item_title">问大家</div>
                                </div>
                                <div class="item_text">
                                    统计单品问大家洞悉买家客服体验及维度提升转化率
                                </div>
                            </div>
                        </div>
                        <div class="box_item">
                            <div class="item_inner">
                                <div class="item_icon">
                                    <img src="./image/trade_home_page/crq_05.png" alt=""/>

                                    <div class="item_title">全网查</div>
                                </div>
                                <div class="item_text">
                                    分析全网品类，找寻品类有市场容量、竞争度小、利润空间大得价格段，制定合理推广策略
                                </div>
                            </div>
                        </div>
                        <div class="box_item">
                            <div class="item_inner">
                                <div class="item_icon">
                                    <img src="./image/trade_home_page/crq_06.png" alt=""/>

                                    <div class="item_title">全网聚划算</div>
                                </div>
                                <div class="item_text">
                                    解决商家参团宝贝的选款，营销文案的策划、产品的定位、活动时间节点的选择、活动后期维护等问题
                                </div>
                            </div>
                        </div>
                        <div class="box_item">
                            <div class="item_inner">
                                <div class="item_icon">
                                    <img src="./image/trade_home_page/crq_07.png" alt=""/>

                                    <div class="item_title">全网淘抢购</div>
                                </div>
                                <div class="item_text">
                                    收集全网淘抢购数据，多维度帮助商家分析淘抢购类目数据抓取上升期的子类目，洞悉淘抢购活动的全部流程
                                </div>
                            </div>
                        </div>
                        <div class="box_item">
                            <div class="item_inner">
                                <div class="item_icon">
                                    <img src="./image/trade_home_page/crq_08.png" alt=""/>

                                    <div class="item_title">服务市场</div>
                                </div>
                                <div class="item_text">
                                    淘宝卖家信誉查询，淘宝信用等级等各项淘宝信誉查询服务
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="./image/trade_home_page/miqi.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="five_box">
            <div class="box_inner">
                <div class="box_title">运营公开课（免费）</div>
                <div class="box_content clearfix">
                    <div class="left_icon">
                        <div class="inner">
                            <div class="box_item">
                                <div class="box_icon">
                                    <img src="./image/trade_home_page/gkk_01.png" alt=""/>

                                    <div class="icon_title">运营选款</div>
                                </div>
                                <div class="item_text">直通车款、竞品分析、全网查、如何在抓取蓝海类目。</div>
                            </div>
                            <div class="box_item">
                                <div class="box_icon">
                                    <img src="./image/trade_home_page/gkk_02.png" alt=""/>

                                    <div class="icon_title">宝贝定位</div>
                                </div>
                                <div class="item_text">宝贝如何定价，如何制定宝贝的推广策略，如何把握宝贝的推广节奏。</div>
                            </div>
                            <div class="box_item">
                                <div class="box_icon">
                                    <img src="./image/trade_home_page/gkk_03.png" alt=""/>

                                    <div class="icon_title">视觉打造</div>
                                </div>
                                <div class="item_text">高点击主图的优化思路，如何分析借鉴不同品类高点击主图，高转化的详情页的思维逻辑</div>
                            </div>
                            <div class="box_item">
                                <div class="box_icon">
                                    <img src="./image/trade_home_page/gkk_04.png" alt=""/>

                                    <div class="icon_title">流量优化</div>
                                </div>
                                <div class="item_text">高点击主图的优化思路，如何分析借鉴不同品类高点击主图，高转化的详情页的思维逻辑</div>
                            </div>
                            <div class="box_item">
                                <div class="box_icon">
                                    <img src="./image/trade_home_page/gkk_05.png" alt=""/>

                                    <div class="icon_title">活动策划</div>
                                </div>
                                <div class="item_text">如何参团聚划算 ，淘抢购参团宝贝的秘密，天天特价的作用，店铺活动。</div>
                            </div>
                            <div class="box_item">
                                <div class="box_icon">
                                    <img src="./image/trade_home_page/gkk_06.png" alt=""/>

                                    <div class="icon_title">数据分析</div>
                                </div>
                                <div class="item_text">数据分析应抓取数据的那些维度，如何找到竞争对手的弱点，sku的秘密。</div>
                            </div>
                        </div>
                    </div>
                    <div class="right_code">
                        <img src="./image/trade_home_page/ewm.png?1" alt=""/>

                        <div class="code_text">
                            <p>扫二维码加入商家分享群免费听课</p>

                            <p>时间：每周二 四 定期开课</p>

                            <p>名额：每周前200名</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="six_box">
            <div class="box_inner">
                <div class="box_title">运营神器推荐</div>
                <div class="box_content clearfix">
                    <div class="left_banner">
                        <a href="http://www.linlangxiu.com/activity4/ask_everybody" target="_blank">
                            <img src="./image/trade_home_page/banner_01.png" alt=""/>
                        </a>
                    </div>
                    <div class="right_banner">
                        <a href="http://www.renqibaohe.com/activity/play_flow_normal" target="_blank">
                            <img src="./image/trade_home_page/banner_02.png" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_fixed" v-if="isShowFooterFixed">
            <div class="" style="width: 1263px;height: 130px;margin: 0 auto;overflow: hidden;">
                <a href="javascript:void(0);" class="register_btn" style="background-color: #ee473f;"></a>
                <a href="javascript:void(0);" class="login_btn" style="background-color: #306eff;"></a>
                <a href="javascript:void(0);" class="ftfix_sp1" v-on:click="closeFooterFixed()">×</a>
            </div>
            <!--<span class="ftfix_sp">查人气告诉你"生意参谋"不会说的<font>"秘密"</font></span>-->
        </div>
    </div>
    <div data-footer="footer"></div>
    <div data-smartUiBar="smartUiBar"></div>
</div>
<script data-main="./require-config.js" src="./lib/require/require.js"></script>
</body>

</html>