.hot-word-page{
  padding-top: 60px;
  margin: 0 auto;
  background: #fff;
  .nav-item {
    width: 150px;
  }
  .search-content{
    background: #fff;
    padding: 50px 15px;
    .search_crq .search_mode {
      .tool1, .tool2 {
        position: absolute;
        padding: 10px 10px 10px 10px;
        background-color: #fff;
        color: #666666;
        width: 200px;
        z-index: 100;
        border-radius: 5px;
        bottom: 30px;
        border: 1px solid #eee;
      }

      .tool1 {
        right: 0;
      }

      .tool2 {
        left: 0;
      }

      .tool1 .arrow1 {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-left: 10px dashed #eee;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        margin-left: 2px;
        position: absolute;
        bottom: -10px;
        right: 30px;
      }

      .tool1 .colse,
      .tool2 .colse {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid #eee;
        text-align: center;
        border-radius: 20px;
        color: #ccc;
        position: absolute;
        z-index: 1000;
        background-color: #fff;
        right: -9px;
        top: -10px;
      }

      .tool2 .arrow2 {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-left: 10px dashed #eee;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        margin-left: 2px;
        position: absolute;
        bottom: -10px;
        left: 30px;
      }
    }
    .search-result{
      .nav{
        background: #fff;
        margin-bottom: 20px;
        .nav-item {
          width: auto;
        }
      }
      .search-result-content{
        padding: 10px;
        border: 1px solid $color-warning;
        .explain {
          .explain_title {
            width: 60px;
            float: left;
            .explain_logo {
              display: block;
              border: 1px solid $color-danger;
              height: 20px;
              width: 50px;
              text-align: center;
              border-radius: 15px;
            }
          }
          .explain_item {
            margin: 10px 0;
          }
        }
        .nav-page{
          margin: 20px 0;
          .nav-page-item{
            margin-right: 15px;
            background: #eee;
            display: inline-block;
            padding: 3px 10px;
            cursor: pointer;
            &:hover{
              background: #ddd;
            }
            &.active{
              color: #fff;
              background-color: #0388ff;
              border-color: #01A6E6;
            }
          }
        }
        .table-list{
          table{
            width: 100%;
            .what_box{
              display: inline-block;
              &:hover{
                .what{
                  display: inline-block;
                }
              }
              .what {
                position: relative;
                display: inline-block;
                float: none;
                display: none;
                &:after {
                  content: '';
                  position: absolute;
                  top: 10px;
                  left: -12px;
                  width: 10px;
                  height: 10px;
                  background-color: #fff;
                  border-top: solid 1px #ccc;
                  border-left: solid 1px #ccc;
                  transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  -o-transform: rotate(45deg);
                }
                .hink {
                  position: absolute;
                  top: 31px;
                  left: 0px;
                  font-size: 14px;
                  display: block;
                  text-align: center;
                  padding: 5px 15px;
                  border: solid 1px #ccc;
                  color: #666;
                  background-color: #fff;
                  vertical-align: middle;
                  white-space: nowrap;
                  -moz-transform: translate(-50%, -50%);
                  -webkit-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  -o-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
          table tbody tr{
            border-bottom: 1px solid #ddd;
          }
          table tbody tr:last-child{
            border-bottom: 0px;
          }
          table tr td {
            padding: 10px 0;
            text-align: center;
            img{
              width: 60px;
            }
          }
          table tr td:nth-child(3) {
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .case-method{
    padding: 50px 15px;
    background: #fff;
  }
}