.item-rank-page {
  padding-top: 60px;
  margin: 0 auto;
  background: #fff;
  .nav-item {
    width: 150px;
  }
  .search-content {
    background: #fff;
    padding: 50px 15px;
    .search_crq .search_mode {
      .tool1, .tool2 {
        position: absolute;
        padding: 10px 10px 10px 10px;
        background-color: #fff;
        color: #666666;
        width: 200px;
        z-index: 100;
        border-radius: 5px;
        bottom: 30px;
      }

      .tool1 {
        right: 0;
      }

      .tool2 {
        left: 0;
      }

      .tool1 .arrow1 {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-right: 10px dashed #fff;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        margin-left: 2px;
        position: absolute;
        bottom: -10px;
        right: 30px;
      }

      .tool1 .colse,
      .tool2 .colse {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid #eee;
        text-align: center;
        border-radius: 20px;
        color: #ccc;
        position: absolute;
        z-index: 1000;
        background-color: #fff;
        right: -9px;
        top: -10px;
      }

      .tool2 .arrow2 {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-left: 10px dashed #fff;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        margin-left: 2px;
        position: absolute;
        bottom: -10px;
        left: 30px;
      }
    }
    .search-list {
      .nav {
        background: #fff;
        margin-bottom: 20px;
        .nav-item {
          cursor: default;
        }
      }
      .explain {
        .explain_title {
          width: 60px;
          float: left;
          .explain_logo {
            display: block;
            border: 1px solid $color-danger;
            height: 20px;
            width: 50px;
            text-align: center;
            border-radius: 15px;
          }
        }
        .explain_item {
          margin: 10px 0;
        }
      }
      .search-item {
        padding: 10px;
        border: 1px solid $color-warning;
        .nav .nav-item {
          border-bottom: 0px;
          &:hover {
            background: #fff;
          }
        }
        .item_info {
          .result_img_con {
            height: 120px;
            width: 120px;
            float: left;
            overflow: hidden;
          }
          .result_basic {
            padding: 20px;
            overflow: auto;
            border-bottom: dotted 2px #ccc;
          }
          .result_basic table {
            float: left;
            width: calc(100% - 140px);
            margin-left: 20px;
          }

          .result_basic table td {
            padding: 10px;
            width: 50%;
          }
          .nav_content {
            table {
              width: 100%;
              text-align: center;
              line-height: 30px;
            }
          }
        }
        .search-item-result {
          width: 100%;
          text-align: center;
          line-height: 30px;
        }
      }
      .search-wangwang{
        padding: 10px;
        border: 1px solid $color-warning;
        .nav .nav-item {
          border-bottom: 0px;
          &:hover {
            background: #fff;
          }
        }
      }
    }
  }
  .case-method {
    padding: 60px;
    background: #fff;
  }
}