.sku-page{
  padding-top: 60px;
  margin: 0 auto;
  background: #fff;
  .nav-item {
    width: 150px;
  }
  .search-content{
    background: #fff;
    padding: 20px 15px;
    .hint-module{
      font-size: 14px;
      padding: 10px 15px;
      line-height: 25px;
      &.hint-module-warning{
        background: #ffffe7;
      }
      .glyphicon{
        color: $blue-base;
        font-size: 18px;
        float: left;
        margin-right: 5px;
        line-height: 18px;
      }
      .hint-warning-icon{
        box-sizing: border-box;
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 2px solid $blue-base;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        &:after{
          content: '!';
        }
      }
      .hint-module-text{
        display: inline-block;
      }
    }
    .search-form{
      margin-top: 60px;
      margin-bottom: 150px;
      text-align: center;
      .form-horizontal{
        width: 900px;
        display: inline-block;
        .input-group-blue{
          border-radius: 5px;
          background: $blue-base;
          .form-control{
            border-radius: 5px;
            border: 2px solid $blue-base;
          }
          .input-group-addon{
            background: $blue-base;
            color: #fff;
            border-color: #3585f2;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            box-sizing: border-box;
            cursor: pointer;
            &:hover{
              background: $blue-hover;
            }
          }
        }
      }
    }
    .search-list{
      .nav-title{
        .nav-title-inner{
          font-size: 18px;
          color: $blue-base;
          border-left: 2px solid $blue-base;
          padding: 0 10px;
          font-weight: bold;
        }
      }
    }
    .item-list{
      padding: 15px;
    }
  }
  .sta-content{
    background: #fff;
    padding: 20px 15px;
  }
  .case-method {
    padding: 60px;
    background: #fff;
  }
  .list-item{
    width: 350px;
    position: relative;
    text-align: left;
    .item-img{
      display: inline-block;
      width: 80px;
      height: 80px;
    }
    .item-info{
      position: absolute;
      top:0;
      left: 90px;
    }
  }
}