<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="查人气(charenqi.com)-查排名 天猫 直通车 淘宝等店铺排名、宝贝关键词排名在线查询,提供准确的排名查询、店铺数据监控和行业分析服务"/>
    <meta name="keywords" content="查人气，查排名,淘宝关键词排名查询,淘宝宝贝排名查询,卖家工具箱,淘宝关键词优化,直通车优化,宝贝监控，店铺监控，同行分析，收藏加购，竞品分析"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>查人气-天猫 直通车 淘宝 宝贝关键词排名查询 手淘排名查询</title>
    <link rel="stylesheet" href="../../../style/charenqi.css">
</head>
<body>
<div class="frame">
    <div data-header="header"></div>
    <div class="body sku-detail-page" id="sku-detail-page">
        <div class="title">
            <div class="inner">
                SKU销售统计详情页
            </div>
        </div>
        <div class="item-list">
            <table class="table table-center table-middle">
                <thead>
                <tr>
                    <th>商品</th>
                    <th>店铺</th>
                    <th>数据统计时间</th>
                    <th>查询状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="list-item">
                            <img class="item-img" src="http://gju2.alicdn.com/bao/uploaded/i4/3075970470/TB2fBfjd93PL1JjSZPcXXcQgpXa_!!0-juitemmedia.jpg_Q90.jpg"
                                 alt="">
                            <div class="item-info">
                                【自选5条=29.9】日系高腰蕾丝内裤【自选5条=29.9】日系高腰蕾丝内裤
                            </div>
                        </div>
                    </td>
                    <td>
                        旗舰店
                    </td>
                    <td>2017-08-23 12:12:21</td>
                    <td>已完成</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="chart clearfix">
            <div class="chart-item">
                <div class="title">
                    <div class="inner">根据评价SKU统计销售必输占比</div>
                </div>
                <div class="">
                    <div class="col-lg-6">
                        <table class="table table-center">
                            <thead>
                            <tr>
                                <th>SKU名称</th>
                                <th>笔数</th>
                                <th>笔数占比</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>颜色分类：红色；尺码:L</td>
                                <td>66</td>
                                <td>20%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <div id="sku-name-chart" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-footer="footer"></div>
</div>

<script data-main="/require-config.js" src="/lib/require/require.js"></script>
</body>
</html>