<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description"
          content="查人气-专注淘宝排名查询,支持淘宝/天猫/爱淘宝手机端排名查询和排名监控,宝贝上下架查询,宝贝标题优化,淘宝SEO,淘宝提高排名,淘宝宝贝排名在线快速查询,千人千面排名查询,数万淘宝卖家的必备工具箱."/>
    <meta name="keywords" content="查排名,淘宝宝贝排名在线查询,手机天猫排名数据查询,无线端排名查询,在线淘宝工具,千人千面排名查询,宝贝销量查询,指定店铺数据查询"/>
    <title>查排名,淘宝排名查询,宝贝排名查询,天猫排名查询,手机淘宝排名查询,淘宝无线端排名在线查询-查人气</title>
    <link rel="stylesheet" href="../../../style/charenqi.css">
</head>
<body>
<div class="frame">
    <div data-header="header"></div>
    <div class="body item-rank-page" id="item-rank-page">
        <div class="nav nav-border-top">
            <div class="nav-item" :class="{'active':navType == 'search'}" v-on:click="switchNavType('search')">查排名</div>
            <div class="nav-item" :class="{'active':navType == 'case'}" v-on:click="switchNavType('case')">查看案例</div>
        </div>
        <div class="search-content" v-if="navType == 'search'">
            <div class="form-horizontal search_crq">
                <div class="form-group">
                    <span class="control-label col-lg-2">搜索入口：</span>
                    <div class="col-lg-10">
                        <label class="radio-inline" for="PC">
                            <input type="radio" name="search_device" id="PC" value="PC" v-model="search.device"> 淘宝
                        </label>
                        <label class="radio-inline" for="PC_TM">
                            <input type="radio" name="search_device" id="PC_TM" value="PC_TM" v-model="search.device">天猫
                        </label>
                        <label class="radio-inline" for="WX">
                            <input type="radio" name="search_device" id="WX" value="WX" v-model="search.device"> 手机淘宝
                        </label>
                        <label class="radio-inline" for="WX_TM">
                            <input type="radio" name="search_device" id="WX_TM" value="WX_TM" v-model="search.device">手机天猫
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-lg-2">查询模式：</span>
                    <div class="col-lg-10">
                        <label class="radio-inline" for="search_type_item">
                            <input type="radio" name="search_type" id="search_type_item" value="item"
                                   v-model="search.type"> 查指定宝贝
                        </label>
                        <label class="radio-inline" for="search_type_wangwang">
                            <input type="radio" name="search_type" id="search_type_wangwang" value="wangwang"
                                   v-model="search.type"> 查指定店铺
                        </label>
                    </div>
                </div>
                <div class="form-group" v-show="search.type == 'item'">
                    <span class="control-label col-lg-2">宝贝链接：</span>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="请输入宝贝链接或ID"
                               v-on:focus="searchKeyFocus()" v-on:blur="searchKeyBlur()" v-model="search.key"/>
                        <div v-cloak class="load_list" v-if="isShowKeyList">
                            <ul id="foucs_list">
                                <li v-for="keyItem in keyList" v-on:click="selectKeyList(keyItem)">
                                    <div class="load_logo">
                                        <img :src="keyItem.imgSrc">
                                    </div>
                                    <div class="load_txt">
                                        <div class="load_txt_goods">店铺名：{{keyItem.shopName}}</div>
                                        <div class="load_txt_goods">商品名：{{keyItem.title}}</div>
                                        <div class="load_txt_btn"><span>{{keyItem.keyword}}</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div v-cloak class="form-group" v-show="search.type == 'wangwang'">
                    <span class="control-label col-lg-2">旺旺号：</span>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="请输入店铺旺旺号" v-model="search.wangwang"/>
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-lg-2">关键词：</span>
                    <div class="col-lg-10">
                        <textarea type="text" class="form-control input_area" placeholder="最多支持20个关键词同时查询（回车换行分隔）"
                                  v-on:keyup="keywordKeyup()" v-on:blur="keywordBlur()"
                                  v-model="search.keyword"></textarea>
                        <ul v-cloak id='inupt_hink' v-show="keywordList.length" style='position:absolute;'>
                            <li v-for="keywordItem in keywordList" v-on:click="selectKeyword(keywordItem)">
                                {{keywordItem.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-lg-2">排序：</span>
                    <div class="col-lg-10">
                        <label class="radio-inline" for="RANK_SYN">
                            <input type="radio" name="search_rank" id="RANK_SYN" value="zonghe" v-model="search.rank">
                            综合
                        </label>
                        <label class="radio-inline" for="RANK_SALES">
                            <input type="radio" name="search_rank" id="RANK_SALES" value="sale" v-model="search.rank">
                            销量
                        </label>
                        <label class="radio-inline" for="RANK_MOODS"
                               v-show="search.device != 'WX' && search.device != 'WX_TM'">
                            <input type="radio" name="search_rank" id="RANK_MOODS" value="renqi" v-model="search.rank">
                            人气
                        </label>
                        <div class="radio-inline search_condition">
                            <div class="chooseCondition">
                                <div class="clearfix">
                                    <div class="cc_text">
                                        筛选条件
                                    </div>
                                    <span class="cc_arrow glyphicon glyphicon-menu-down"></span>
                                </div>
                                <div class="fixed_cc">
                                    <div class="fixed_cc_list">
                                        <label class="checkbox-inline" :for="condition.name"
                                               v-for="condition in conditionActive">
                                            <input type="checkbox" :id="condition.name" :value="condition.value"
                                                   v-model="condition.select">{{condition.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="radio-inline radio-inline-price" style="margin-left: 0;padding-left: 0;">
                            <span class="" style="">价格：</span>
                            <label class="" style="position: relative;">
                                <input type="text" class="form-control form-control-static input-sm"
                                       style="width: 80px;" v-model="search.minPrice">
                                ~
                                <input type="text" class="form-control form-control-static input-sm"
                                       style="width: 80px;" v-model="search.maxPrice">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-lg-2">搜索方式：</span>
                    <div class="col-lg-10">
                        <div class="form-group search_mode">
                            <label class="radio-inline tooltip1" for="CLIENT" style="position: relative;"
                                   v-show="search.device != 'PC_TM' && search.device != 'WX_TM'">
                                <input type="radio" name="search_mode" id="CLIENT" value="client" v-model="search.mode">
                                <div class="tool1">
                                    <p>
                                        去除浏览器缓存和个性化基础上的<span class="text_danger">真实本地排名</span>，可能会和您浏览器自己查询排名有一定差异，此为正常情况。
                                    </p>
                                    <span class="arrow1"></span>
                                </div>
                                <span id="tool1">本机</span>
                            </label>
                            <label class="radio-inline tooltip2" for="SERVER" style="position: relative;">
                                <input type="radio" name="search_mode" id="SERVER" value="server" v-model="search.mode">
                                <div class="tool2">
                                    <p>
                                        利用部署在全国各地的云服务器，排除
                                        <span class="text_danger">浏览器缓存</span>和
                                        <span class="text_danger">个性化</span>影响，真实去查询全国各地的宝贝排名，方便了解
                                        <span class="text_danger">不同地域</span>的排名情况.
                                    </p>
                                    <span class="arrow2"></span>
                                </div>
                                <span id="tool2">云服务</span>
                            </label>
                        </div>
                        <div v-cloak class="radio-inline" v-if="search.mode == 'server'">
                            <div class="search_address b_n">
                                <div class="search_address_title">
                                    选择千人千面
                                </div>
                                <span class="search_address_select glyphicon glyphicon-menu-down"></span>
                                <div class="search_address_warp">
                                    <label class="radio-inline" :for="serverItem.name"
                                           v-for="(serverItem, index) in serverList">
                                        <input type="radio" name="search_address" :id="serverItem.name"
                                               :value="serverItem.value" v-model="search.serverAddress"/>{{serverItem.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="search_button">
                        <button class="button" v-on:click="inquire()">查询</button>
                    </div>
                </div>
            </div>
            <div class="search-list">
                <div class="nav">
                    <div class="nav-item">
                        查询结果
                    </div>
                </div>
                <div class="search-item" v-if="search.type == 'item'">
                    <div class="search-item-content">
                        <div class="explain clearfix">
                            <div class="explain_title">
                                <span class="explain_logo text_danger">简介：</span>
                            </div>
                            <div class="explain_content">
                                <div>
                                    在设备受到缓存数据，千人千面个性化，甚至地域的影响下，如何看待查人气查询的数据？
                                    <span class="unfold_btn pull-right" id="unfold_explain">
                                        [<span class="link text_primary" v-on:click="explainItemClick()">了解详情</span>]
                                    </span>
                                </div>
                                <div v-cloak class="explain_unfold_content" v-if="isShowExplainItem">
                                    <div class="explain_item">
                                        <div class="text_danger">为什么用查人气查排名？</div>
                                        <div class="text_disable">
                                            查人气利用分布在全国各个省份的服务器—克服了千人千面和地域的影响，还原宝贝单品的真实权重得到真实的宝贝全网的推广排名效果。
                                        </div>
                                    </div>
                                    <div class="explain_item">
                                        <div class="text_danger">千人千面？</div>
                                        <div class="text_disable">由于淘宝规则的原因：淘宝会根据个人以往的浏览习惯、购买习惯 、以及所在的地域
                                            优先展示买家以往的个性化结果（这种影响且会标记在设备的IP及淘宝账号等），买家受此影响-自己关注搜索的排名结果较真实的排名一定是靠前的。这也是市面上一些别的工具查询的结果与买家查询结果一样且排名比较靠前的原因
                                        </div>
                                    </div>
                                    <div class="explain_item">
                                        <div class="text_danger">查人气的优势？</div>
                                        <div class="text_disable">（1）.服务器查询速度快</div>
                                        <div class="text_disable">（2）.服务器克服了千人千面个性化的影响</div>
                                        <div class="text_disable">
                                            （3）.克服了地域的影响——即使我们身在广东也可以利用浙江的服务器查到该宝贝在浙江的排名情况（因为地域的不同：同一个关键词在不同的省份关键词的排名也是不同的）
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_info">
                            <div class="result_basic">
                                <div class="result_img_con">
                                    <img src="//img.alicdn.com/bao/uploaded/i2/TB1X8ypQVXXXXaqXVXXXXXXXXXX_!!0-item_pic.jpg"
                                         id="goods_pic">
                                </div>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td id="shop_name">店铺名：莱妮雅旗舰店</td>
                                        <td>宝贝类目：<span class="text_danger">美妆饰品&gt;美容护肤/美体/精油&gt;面膜（新）&gt;面膜</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="goods_name">商品名：莱妮雅水光多肽婴儿面膜 补水保湿蚕丝面膜提亮肤色收毛孔正品</td>
                                        <td id="down_time">
                                            下架时间：<span class="text_danger sxj_time_week">2017-09-16 8:47:0</span>
                                            ,剩余：<span class="sxj_time_diff">4天16时50分</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="price">
                                            促销价：
                                            <span class="text_danger font_size_18">￥<span
                                                    class="price">89.0</span></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="nav">
                            <div class="nav-item text_warning">
                                查询结果
                            </div>
                        </div>
                        <table class="search-item-result" style="">
                            <thead>
                            <tr>
                                <th>关键词</th>
                                <th>淘宝排名</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>连衣裙</td>
                                <td>关键词排名超出50页之外，请更换搜索条件！</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="search-wangwang" v-if="search.type == 'wangwang'">
                    <div class="explain clearfix">
                        <div class="explain_title">
                            <span class="explain_logo text_danger">简介：</span>
                        </div>
                        <div class="explain_content">
                            <div>
                                在设备受到缓存数据，千人千面个性化，甚至地域的影响下，如何看待查人气查询的数据？
                                <span class="unfold_btn pull-right" id="unfold_explain">
                                        [<span class="link text_primary" v-on:click="explainItemClick()">了解详情</span>]
                                    </span>
                            </div>
                            <div v-cloak class="explain_unfold_content" v-if="isShowExplainItem">
                                <div class="explain_item">
                                    <div class="text_danger">为什么用查人气查排名？</div>
                                    <div class="text_disable">
                                        查人气利用分布在全国各个省份的服务器—克服了千人千面和地域的影响，还原宝贝单品的真实权重得到真实的宝贝全网的推广排名效果。
                                    </div>
                                </div>
                                <div class="explain_item">
                                    <div class="text_danger">千人千面？</div>
                                    <div class="text_disable">由于淘宝规则的原因：淘宝会根据个人以往的浏览习惯、购买习惯 、以及所在的地域
                                        优先展示买家以往的个性化结果（这种影响且会标记在设备的IP及淘宝账号等），买家受此影响-自己关注搜索的排名结果较真实的排名一定是靠前的。这也是市面上一些别的工具查询的结果与买家查询结果一样且排名比较靠前的原因
                                    </div>
                                </div>
                                <div class="explain_item">
                                    <div class="text_danger">查人气的优势？</div>
                                    <div class="text_disable">（1）.服务器查询速度快</div>
                                    <div class="text_disable">（2）.服务器克服了千人千面个性化的影响</div>
                                    <div class="text_disable">
                                        （3）.克服了地域的影响——即使我们身在广东也可以利用浙江的服务器查到该宝贝在浙江的排名情况（因为地域的不同：同一个关键词在不同的省份关键词的排名也是不同的）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-center table-middle">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>宝贝</th>
                            <th>搜索关键词</th>
                            <th>旺旺ID</th>
                            <th>淘宝排名</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>1</td>
                            <td>50页之外</td>
                            <td>连衣裙</td>
                            <td></td>
                            <td>50页之外</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="instructions">
                <div class="show-instructions-btn" v-on:click="instructionsBtnClick()">
                    <img class="show-btn-icon" v-if="!isShowInstructions" src="/image/cpm_bottom.png" alt="">
                    <img class="show-btn-icon" v-if="isShowInstructions" src="/image/cpm_top.png" alt="">
                    <span>展开使用说明</span>
                </div>
                <div v-cloak class="instructions-content" v-if="isShowInstructions">
                    <div class="content-item">
                        <h3>为什么用查人气查排名？</h3>
                        <p>查人气利用分布在全国各个省份的服务器—克服了<span class="text_danger">千人千面</span>和<span
                                class="text_danger">地域</span>的影响，还原宝贝单品的<span
                                class="text_danger">真实权重</span>得到真实的宝贝全网的推广排名效果。</p>
                    </div>
                    <div class="content-item">
                        <h3>什么是千人千面？</h3>
                        <p>由于淘宝规则的原因：淘宝会根据个人以往的<span class="text_danger">浏览习惯</span>、<span
                                class="text_danger">购买习惯</span>
                            、以及所在的<span class="text_danger">地域</span>优先展示买家以往的个性化结果（这种影响且会标记在设备的IP及淘宝账号等），买家受此影响-自己关注搜索的排名结果较真实的排名一定是靠前的。这也是市面上一些别的工具查询的结果与买家查询结果一样且排名比较靠前的原因。
                        </p>
                    </div>
                    <div class="content-item">
                        <h3>查人气的优势？</h3>
                        <p>（1）服务器查询速度快</p>
                        <p>（2）服务器克服了千人千面个性化的影响</p>
                        <p>（3）克服了地域的影响——即使我们身在广东也可以利用浙江的服务器查到该宝贝在浙江的排名情况（因为地域的不同：同一个关键词在不同的省份关键词的排名也是不同的）</p>
                    </div>
                    <div class="content-item">
                        <h3>查询模式：</h3>
                        <div>
                            <img class="img_com" style="width: 250px;height: 40px;margin-left: 20px;"
                                 src="http://static.charenqi.cn/src/images/cmp/cpm_input1.jpg" alt="">
                        </div>
                        <p>我们提供两种查询模式：我的本机、云服务器</p>
                        <p><span class="text_danger">我的本机：</span>此排名查询为，去除浏览器缓存和个性化基础上的真实本地排名，可能会和您浏览器自己查询排名有一定差异，此为正常情况
                        </p>
                        <p>
                            <span class="text_danger">云服务器查询：</span>利用部署在全国各地的云服务器，排除<span
                                class="text_danger">浏览器缓存</span>和<span
                                class="text_danger">个性化</span>影响，真实去查询全国各地的宝贝排名，方便了解不同地域的排名情况；</p>
                    </div>
                    <div class="content-item">
                        <h3>使用详情：</h3>
                        <div>
                            <img class="img_com" style="width: 1270px;height: 350px"
                                 src="http://static.charenqi.cn/src/images/cmp/cpm_input2.jpg" alt="">
                        </div>
                        <p>搜索入口：指使用的是PC端淘宝网站还是手机端淘宝APP。</p>
                        <p>查询模式：指查<span class="text_danger">特定宝贝</span>的关键词排名或则查询某一<span class="text_danger">店铺内</span>包含此关键词所有宝贝的排名
                        </p>
                        <p>排序：是指淘宝/天猫搜索结果中使用的排序方式，如下图</p>
                        <div>
                            <img class="img_com" style="width: 1000px;height: 120px"
                                 src="http://static.charenqi.cn/src/images/cmp/cpm_input3.jpg" alt="">
                        </div>
                        <p>搜索页数：淘宝自然搜索共展出前100页宝贝，我们默认在前50页中查询宝贝。</p>
                        <p>关键词：这里的关键词相当于用户在淘宝搜索宝贝时使用的关键词。</p>
                        <div>
                            <img class="img_com" style="width: 770px;height: 90px"
                                 src="http://static.charenqi.cn/src/images/cmp/cpm_input4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case-method" v-if="navType == 'case'">
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/cmp/cpm_case1.png" alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/cmp/cpm_case2.png" alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/cmp/cpm_case3.png" alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/cmp/cpm_case4.png" alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/cmp/cpm_case5.png" alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/cmp/cpm_case6.png" alt="">
            </div>
        </div>
    </div>
    <div data-footer="footer"></div>
</div>
<script data-main="/require-config.js" src="/lib/require/require.js"></script>
</body>
</html>