<div class="smart-ui-bar">
    <div class="ui-bar-inner">
        <ul class="action-list">
            <li class="action common-operations">
                <div class="normal">
                    <div class="icon icon1"></div>
                </div>
                <div class="dropdown dropdown1">
                    <div class="inner">
                        <img src="http://static.charenqi.cn/src/images/smart-ui-bar/v_code01.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="action common-operations">
                <div class="normal">
                    <div class="icon icon2"></div>
                </div>
                <div class="dropdown dropdown2">
                    <div class="inner">
                        <img src="http://static.charenqi.cn/src/images/smart-ui-bar/v_code02.png" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>