<div class="footer">
    <!-- footer -->
    <div style="background: #edf1f5;padding: 40px 0 10px 0;text-align: center;">
        <p>
            <span>
                Copyright ©2017 charenqi.cn Inc. All Rights.
                <a target="_blank" href="http://www.miitbeian.gov.cn">沪ICP备16041194号-3</a>
                版权所有公司属于 上海佐荔网络科技有限公司
                <a href="/users/aboutus" target="_blank">关于我们</a>
                |
                <a href="/users/aboutus" target="_blank">联系我们</a>
            </span>
        </p>
        <p>
            免责声明： 本站跟淘宝网、天猫、生意参谋等阿里巴巴旗下任何公司和产品均无任何关系，所有数据均为用户查询淘宝网公开信息而生成，本站不承担任何相关法律责任！
        </p>
    </div>
</div>