<div class="header">
    <div class="header_inner">
        <div class="header_top">
            <div class="header_top_inner">
                <div class="header_top_left">
                    <span>
                        <a href="javascript:void(0);" class="login_btn">登录</a>
                        &nbsp;&nbsp;
                        <a style="color: red;" class="register_btn" href="javascript:void(0);">免费注册</a>
                    </span>
                </div>
                <div class="header_top_right">
                    <span>
					    产品推荐：
                          <a href="http://www.linlangxiu.com/read/business" target="_blank">琳琅试用&nbsp;|&nbsp;</a>
                          <a href="http://www.renqibaohe.com/activity/play_flow_normal"
                             target="_blank">人气宝盒&nbsp;|&nbsp;</a>
                          <a href="http://renqizhu.cn/" target="_blank">优惠券推广&nbsp;|&nbsp;</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="header_nav">
            <div class="header_nav_inner">
                <div class="logo_wrap">
                    <a href="http://www.charenqi.cn/home">
                        <img class="logo_img" src="./image/header_logo.png">
                    </a>
                </div>
                <div class="header_nav_bar">
                    <ul>
                        <li class="active"><a href="http://www.charenqi.cn/home">首页</a></li>
                        <li>
                            <a href="http://www.charenqi.cn/item_rank">查排名</a>
                            <ul style="width: 154%; display: none;">
                                <li><a href="http://www.charenqi.cn/item_rank?type=1">淘宝排名查询</a></li>
                                <li><a href="http://www.charenqi.cn/item_rank?type=2">天猫排名查询</a></li>
                                <li><a href="http://www.charenqi.cn/item_rank?type=3">手机淘宝排名查询</a></li>
                                <li><a href="http://www.charenqi.cn/item_rank?type=4">手机天猫排名查询</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://www.charenqi.cn/all_keyword_rank">热词成交分析</a>
                        </li>
                        <li>
                            <a href="http://monitor.charenqi.cn">宝贝监控</a>
                        </li>
                        <li>
                            <a href="http://monitor.charenqi.cn/site/store">店铺监控</a>
                            <ul>
                                <li>
                                    <a href="http://monitor.charenqi.cn/site/store_condition?seller_id=880734502&amp;userNumId=UOmgWMGv0MFNy">店铺整体概况</a>
                                </li>
                                <li>
                                    <a href="http://monitor.charenqi.cn/site/store_data_detail?seller_id=880734502&amp;userNumId=UOmgWMGv0MFNy">店铺销售明细</a>
                                </li>
                                <li>
                                    <a href="http://monitor.charenqi.cn/site/store_data_detail?seller_id=880734502&amp;userNumId=UOmgWMGv0MFNy">店铺销售分析</a>
                                </li>
                                <li>
                                    <a href="http://monitor.charenqi.cn/site/store_new_goods?seller_id=880734502&amp;userNumId=UOmgWMGv0MFNy">店铺宝贝分析</a>
                                </li>
                                <li>
                                    <a href="http://monitor.charenqi.cn/site/store_bargain?seller_id=880734502&amp;userNumId=UOmgWMGv0MFNy">店铺营销推广</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://www.charenqi.cn/trade/bus_analysis">行业查询</a>
                            <ul class="pattern">
                                <li>
                                    <ul>
                                        <li><a href="http://www.charenqi.cn/trade/bus_analysis">全网类目分析</a></li>
                                        <li><a href="http://www.charenqi.cn/trade/bus_analysis">行业价格分布</a></li>
                                        <li><a href="http://www.charenqi.cn/trade/bus_analysis">热词成交分析</a></li>
                                        <li><a href="http://www.charenqi.cn/trade/bus_analysis">属性成交分析</a></li>
                                        <li><a href="http://www.charenqi.cn/trade/bus_analysis">行业品牌分析</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="http://www.charenqi.cn/trade/bus_analysis">TOP排行榜</a></li>
                                        <li><a href="http://www.charenqi.cn/trade/bus_analysis">品牌市场行情</a></li>
                                        <li><a href="http://www.charenqi.cn/trade/bus_analysis">品牌TOP榜</a></li>
                                        <li><a href="http://www.charenqi.cn/trade/bus_analysis">全网上下架</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://ju.charenqi.cn">全网聚划算</a>
                        </li>
                        <li>
                            <a href="http://qiang.charenqi.cn">全网淘抢购</a>
                            <div></div>
                            <em class="new_icon"></em>
                        </li>
                        <li><a href="http://www.charenqi.cn/trade/ser_market">服务市场</a></li>
                        <li><a href="http://www.charenqi.cn/user/index">邀请好友升级权限</a></li>
                    </ul>
                </div>
                <div class="header_nav_right"></div>
            </div>
        </div>
    </div>
</div>