.alert .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  color: #eb9615;
  background-color: #fef5e3;
  border-color: #eeaf4e;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

.alert.alert-fixed {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 2px 5px #A5A5A5;
  z-index: 1060;
  position: fixed;
  margin: 30% auto 30px -150px;
  left: 50%;
  width: 300px;
  top: 0;
}

.alert.alert-fixed.alert-lg {
  width: 500px;
  margin-left: -250px
}

.alert.alert-fixed .close {
  font-size: 16px;
  margin-top: -15px;
}

.alert.alert-fixed .close:focus, .alert.alert-fixed .close:hover {
  outline: 0;
}

.alert-soft {
  width: 350px;
  border: 1px solid #d0413b;
  background: #fee;
  padding: 10px;
  border-radius: 0;
  position: fixed;
  z-index: 1050;
  top: 200px;
  left: 50%;
  margin-left: -175px;
  opacity: .8;
}

.alert-soft .title {
  margin-top: 0;
  color: #d5321f;
  font-size: 16px;
  font-weight: 700;
  padding-top: 3px;
}

.alert-soft .icon-wrap {
  float: left;
  width: 60px;
  height: 50px;
  border-right: 1px solid #d0413b;
}

.alert-soft .icon-wrap .icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-top: 10px;
}

.alert-soft .content {
  padding-left: 80px;
}