/*
*
*/
.frame > .smart-ui-bar {
  width: 6px;
}

.frame > .smart-ui-bar .ui-bar-inner {
  width: 50px;
  position: absolute;
  bottom: 30%;
  right: 0;
}

.frame > .smart-ui-bar .side-adv {
  height: 80px;
  width: 50px;
  cursor: pointer;
}

.frame > .smart-ui-bar .side-adv img {
  max-width: 100%;
}

.frame > .smart-ui-bar .action-list > li {
  cursor: pointer;
  width: 50px;
  text-align: center;
  color: #999;
  background: #e5f3ff;
  margin-bottom: 5px;
  border-radius: 3px 0 0 3px;
  position: relative;
}

.frame > .smart-ui-bar .action-list > li .normal {
  display: inline-block;
  width: 50px;
  position: relative;
  z-index: 1;
}

.frame > .smart-ui-bar .action-list > li .normal .icon {
  margin-top: 6px;
  display: inline-block;
  width: 40px;
  height: 80px;
  background-position: 0 0;
  background-size: cover;
}

.frame > .smart-ui-bar .action-list > li .normal .icon.icon1 {
  background-image: url("http://static.charenqi.cn/src/images/smart-ui-bar/logo_v.png");
}

.frame > .smart-ui-bar .action-list > li .normal .icon.icon2 {
  height: 90px;
  background-image: url("http://static.charenqi.cn/src/images/smart-ui-bar/logo_sevice.png");
}

.frame > .smart-ui-bar .action-list > li .normal .icon.icon3 {
  height: 90px;
  background-image: url("http://static.charenqi.cn/src/images/smart-ui-bar/quannengzhanggui.png");
}

.frame > .smart-ui-bar .action-list > li .dropdown {
  display: none;
  position: absolute;
  right: 50px;
  background: #ffffff;
}

.frame > .smart-ui-bar .action-list > li:hover .dropdown {
  display: block;
}

.frame > .smart-ui-bar .action-list > li:hover .dropdown.dropdown1,
.frame > .smart-ui-bar .action-list > li:hover .dropdown.dropdown2 {
  width: 160px;
  top: -50%;
}