.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(3, 3, 3, 0.3);
    z-index: 1000;
}
.modal.modal-open{
    display: block;
}

.modal-dialog {
    background: #fff;
    width: 600px;
    max-height:80%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 15% auto;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 1px 1px #ddd;
    border-radius: 5px;
}

.modal-content {}

.modal-header {
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.modal-header .close {
    border: 0;
    background: #fff;
    margin-top: 12px;
    color: #ddd;
    font-size: 20px;
    float: right;
    font-weight: 600;
    cursor: pointer;
}

.modal-header .modal-title {
    font-size: 20px;
    line-height: 50px;
}

.modal-body {
    padding: 10px;
}

.modal-footer {
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.modal-footer .btn {
    border: 0;
    font-size: 14px;
    line-height: 30px;
    border-radius: 3px;
    padding: 0 15px;
}

.modal-footer .btn.btn-close {}

.modal-footer .btn.btn-save {
    color: #fff;
    background: #337ab7;
}