<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="查人气-店铺侦探助手,全面提供淘宝关键词排名查询,手机淘宝天猫关键词排名分析,洞悉竞争对手店铺的实时数据,掌控淘宝搜索排名新规则,及时调整运营方案,解决网店内的展现/流量/转化等问题."/>
    <meta name="keywords" content="淘宝关键词排名查询,淘宝宝贝排名在线查询,网店关键词排名,淘宝关键词数据分析,淘宝关键词搜索排名规则,店铺关键词排名"/>
    <title>淘宝关键词排名查询,淘宝关键词数据分析,网关键词优化-查人气</title>
    <link rel="stylesheet" href="../../../style/charenqi.css">
</head>
<body>
<div class="frame">
    <div data-header="header"></div>
    <div class="body hot-word-page" id="hot-word-page">
        <div class="nav nav-border-top">
            <div class="nav-item" :class="{'active':navType == 'search'}" v-on:click="switchNavType('search')">查排名</div>
            <div class="nav-item" :class="{'active':navType == 'case'}" v-on:click="switchNavType('case')">查看案例</div>
        </div>
        <div class="search-content" v-if="navType == 'search'">
            <div class="form-horizontal search_crq">
                <div class="form-group">
                    <span class="control-label col-lg-2">搜索入口：</span>
                    <div class="col-lg-10">
                        <label class="radio-inline" for="PC">
                            <input type="radio" name="search_device" id="PC" value="PC" v-model="search.device"> 淘宝
                        </label>
                        <label class="radio-inline" for="PC_TM">
                            <input type="radio" name="search_device" id="PC_TM" value="PC_TM" v-model="search.device">天猫
                        </label>
                        <label class="radio-inline" for="WX">
                            <input type="radio" name="search_device" id="WX" value="WX" v-model="search.device"> 手机淘宝
                        </label>
                        <label class="radio-inline" for="WX_TM">
                            <input type="radio" name="search_device" id="WX_TM" value="WX_TM" v-model="search.device">手机天猫
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-lg-2">关键词：</span>
                    <div class="col-lg-10">
                        <textarea type="text" class="form-control input_area" placeholder="最多支持20个关键词同时查询（回车换行分隔）"
                                  v-on:keyup="keywordKeyup()" v-on:blur="keywordBlur()"
                                  v-model="search.keyword"></textarea>
                        <ul v-cloak id='inupt_hink' v-show="keywordList.length" style='position:absolute;'>
                            <li v-for="keywordItem in keywordList" v-on:click="selectKeyword(keywordItem)">
                                {{keywordItem.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-lg-2">排序：</span>
                    <div class="col-lg-10">
                        <label class="radio-inline" for="RANK_SYN">
                            <input type="radio" name="search_rank" id="RANK_SYN" value="zonghe" v-model="search.rank">
                            综合
                        </label>
                        <label class="radio-inline" for="RANK_SALES">
                            <input type="radio" name="search_rank" id="RANK_SALES" value="sale" v-model="search.rank">
                            销量
                        </label>
                        <label class="radio-inline" for="RANK_MOODS"
                               v-show="search.device != 'WX' && search.device != 'WX_TM'">
                            <input type="radio" name="search_rank" id="RANK_MOODS" value="renqi" v-model="search.rank">
                            人气
                        </label>
                        <div class="radio-inline search_condition">
                            <div class="chooseCondition">
                                <div class="clearfix">
                                    <div class="cc_text">
                                        筛选条件
                                    </div>
                                    <span class="cc_arrow glyphicon glyphicon-menu-down"></span>
                                </div>
                                <div class="fixed_cc">
                                    <div class="fixed_cc_list">
                                        <label class="checkbox-inline" :for="condition.name"
                                               v-for="condition in conditionActive">
                                            <input type="checkbox" :id="condition.name" :value="condition.value"
                                                   v-model="condition.select">{{condition.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="radio-inline radio-inline-price" style="margin-left: 0;padding-left: 0;">
                            <span class="" style="">价格：</span>
                            <label class="" style="position: relative;">
                                <input type="text" class="form-control form-control-static input-sm"
                                       style="width: 80px;" v-model="search.minPrice">
                                ~
                                <input type="text" class="form-control form-control-static input-sm"
                                       style="width: 80px;" v-model="search.maxPrice">
                            </label>
                        </div>
                        <div v-cloak class="radio-inline search-locs">
                            <label>
                                <span class="search-locs-text" name="search-locs">{{search.locs}}</span>
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </label>
                            <div class="locs-hover-box">
                                <div class="inner">
                                    <div class="box-top clearfix">
                                        <div class="box-item" v-if="index <= 11" v-for="(locsItem, index) in locsList"
                                             v-on:click="locsClick(locsItem)">
                                            {{locsItem.name}}
                                        </div>
                                    </div>
                                    <div class="box-middle clearfix">
                                        <div class="box-item" v-if="index >11 && index <= 42"
                                             v-for="(locsItem, index) in locsList" v-on:click="locsClick(locsItem)">
                                            {{locsItem.name}}
                                        </div>
                                    </div>
                                    <div class="box-bottom clearfix">
                                        <div class="box-item" v-if="index >42" v-for="(locsItem, index) in locsList"
                                             v-on:click="locsClick(locsItem)">
                                            {{locsItem.name}}
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <input style="width: 250px;" class="form-control form-control-static input-sm"
                                               type="text" placeholder="多个地区用逗号分隔" v-model="customLocs">
                                        <button class="btn btn-primary" v-on:click="locsClick()">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span class="control-label col-lg-2">搜索方式：</span>
                    <div class="col-lg-10">
                        <div class="form-group search_mode">
                            <label class="radio-inline tooltip2" for="SERVER" style="position: relative;">
                                <input type="radio" name="search_mode" id="SERVER" value="server" v-model="search.mode">
                                <div class="tool2">
                                    <p>
                                        利用部署在全国各地的云服务器，排除
                                        <span class="text_danger">浏览器缓存</span>和
                                        <span class="text_danger">个性化</span>影响，真实去查询全国各地的宝贝排名，方便了解
                                        <span class="text_danger">不同地域</span>的排名情况.
                                    </p>
                                    <span class="arrow2"></span>
                                </div>
                                <span id="tool2">云服务</span>
                            </label>
                        </div>
                        <div v-cloak class="radio-inline" v-if="search.mode == 'server'">
                            <div class="search_address b_n">
                                <div class="search_address_title">
                                    选择千人千面
                                </div>
                                <span class="search_address_select glyphicon glyphicon-menu-down"></span>
                                <div class="search_address_warp">
                                    <label class="radio-inline" :for="serverItem.name"
                                           v-for="(serverItem, index) in serverList">
                                        <input type="radio" name="search_address" :id="serverItem.name"
                                               :value="serverItem.value" v-model="search.serverAddress"/>{{serverItem.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="search_button">
                        <button class="button" v-on:click="inquire()">查询</button>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <div class="nav nav-border-bottom">
                    <div class="nav-item" :class="{'active':resultType == 'list'}"
                         v-on:click="switchResultType('list')">查询结果
                    </div>
                    <div class="nav-item" :class="{'active':resultType == 'price'}"
                         v-on:click="switchResultType('price')">价格分析
                    </div>
                    <div class="nav-item" :class="{'active':resultType == 'time'}"
                         v-on:click="switchResultType('time')">下架时间分析
                    </div>
                    <div class="nav-item" :class="{'active':resultType == 'seller'}"
                         v-on:click="switchResultType('seller')">卖家分析
                    </div>
                </div>
                <div class="search-result-content">
                    <div class="explain clearfix">
                        <div class="explain_title">
                            <span class="explain_logo text_danger">简介：</span>
                        </div>
                        <div class="explain_content">
                            <div>
                                在设备受到缓存数据，千人千面个性化，甚至地域的影响下，如何看待查人气查询的数据？
                                <span class="unfold_btn pull-right" id="unfold_explain">
                                        [<span class="link text_primary" v-on:click="explainItemClick()">了解详情</span>]
                                    </span>
                            </div>
                            <div v-cloak class="explain_unfold_content" v-if="isShowExplainItem">
                                <div class="explain_item">
                                    <div class="text_danger">为什么用查人气查排名？</div>
                                    <div class="text_disable">
                                        查人气利用分布在全国各个省份的服务器—克服了千人千面和地域的影响，还原宝贝单品的真实权重得到真实的宝贝全网的推广排名效果。
                                    </div>
                                </div>
                                <div class="explain_item">
                                    <div class="text_danger">千人千面？</div>
                                    <div class="text_disable">由于淘宝规则的原因：淘宝会根据个人以往的浏览习惯、购买习惯 、以及所在的地域
                                        优先展示买家以往的个性化结果（这种影响且会标记在设备的IP及淘宝账号等），买家受此影响-自己关注搜索的排名结果较真实的排名一定是靠前的。这也是市面上一些别的工具查询的结果与买家查询结果一样且排名比较靠前的原因
                                    </div>
                                </div>
                                <div class="explain_item">
                                    <div class="text_danger">查人气的优势？</div>
                                    <div class="text_disable">（1）.服务器查询速度快</div>
                                    <div class="text_disable">（2）.服务器克服了千人千面个性化的影响</div>
                                    <div class="text_disable">
                                        （3）.克服了地域的影响——即使我们身在广东也可以利用浙江的服务器查到该宝贝在浙江的排名情况（因为地域的不同：同一个关键词在不同的省份关键词的排名也是不同的）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-page">
                        <div class="nav-page-item" :class="{'active':page == 1}" v-on:click="switchPage(1)">分析第1页</div>
                        <div class="nav-page-item" :class="{'active':page == 2}" v-on:click="switchPage(2)">分析第2页</div>
                        <div class="nav-page-item" :class="{'active':page == 3}" v-on:click="switchPage(3)">分析第3页</div>
                        <div class="nav-page-item" :class="{'active':page == 4}" v-on:click="switchPage(4)">分析第4页</div>
                        <div class="nav-page-item" :class="{'active':page == 5}" v-on:click="switchPage(5)">分析第5页</div>
                    </div>
                    <div class="">
                        <div class="table-list" v-if="resultType == 'list'">
                            <table class="">
                                <thead>
                                <tr>
                                    <th>
                                        排名&nbsp;
                                        <div class="what_box">
                                            <img class="what_up" src="/image/what.svg" width="12px">
                                            <span class="what">
                                                <span class="hink" style="left:45px;">此排名为云服务器搜索排名结果</span>
                                            </span>
                                        </div>
                                    </th>
                                    <th>主图</th>
                                    <th>宝贝标题</th>
                                    <th>价格</th>
                                    <th>
                                        付款人数&nbsp;
                                        <div class="what_box">
                                            <img class="what_up" src="/image/what.svg" width="12px">
                                            <span class="what">
                                                <span class="hink">30天付款人数</span>
                                            </span>
                                        </div>
                                    </th>
                                    <th>30天交易成功</th>
                                    <th>30天总销量</th>
                                    <th>店铺掌柜</th>
                                    <th>DSR</th>
                                    <th>同款</th>
                                    <th>信用</th>
                                    <th>发货地</th>
                                    <th>
                                        下架剩余&nbsp;
                                        <div class="what_box">
                                            <img class="what_up" src="/image/what.svg" width="12px">
                                            <span class="what">
                                                <span class="hink">下架日倒计时，分析竞品的下架时间</span>
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        第1页
                                        <span class="text_danger">直通车</span>
                                    </td>
                                    <td>
                                        <img src="//g-search1.alicdn.com/img/bao/uploaded/i4/imgextra/i3/1487206073939543715/TB2lUg8uShlpuFjSspkXXa1ApXa_!!0-saturn_solar.jpg">
                                    </td>
                                    <td>
                                        <a class="text_primary link"
                                           href="https://item.taobao.com/item.htm?id=553392043845" target="_blank">
                                            D－PLAY2017夏新品欧美浅蓝圆领无袖蝴蝶结A字中裙侧开叉褶<span class="H">连衣裙</span>
                                        </a>
                                    </td>
                                    <td>279.00</td>
                                    <td>49</td>
                                    <td>32</td>
                                    <td>50</td>
                                    <td>
                                        <a class="text_primary link"
                                           href="https://store.taobao.com/shop/view_shop.htm?user_number_id=469257897"
                                           target="_blank">dplay旗舰店</a>
                                    </td>
                                    <td>4.8</td>
                                    <td>--</td>
                                    <td><img src="http://img.alicdn.com/newrank/s_cap_4.gif"></td>
                                    <td>上海</td>
                                    <td>1天1时31分</td>
                                </tr>
                                <tr>
                                    <td>
                                        第1页
                                        <span class="text_danger">直通车</span>
                                    </td>
                                    <td>
                                        <img src="//g-search1.alicdn.com/img/bao/uploaded/i4/imgextra/i3/1487206073939543715/TB2lUg8uShlpuFjSspkXXa1ApXa_!!0-saturn_solar.jpg">
                                    </td>
                                    <td>
                                        <a class="text_primary link"
                                           href="https://item.taobao.com/item.htm?id=553392043845" target="_blank">
                                            D－PLAY2017夏新品欧美浅蓝圆领无袖蝴蝶结A字中裙侧开叉褶<span class="H">连衣裙</span>
                                        </a>
                                    </td>
                                    <td>279.00</td>
                                    <td>49</td>
                                    <td>32</td>
                                    <td>50</td>
                                    <td>
                                        <a class="text_primary link"
                                           href="https://store.taobao.com/shop/view_shop.htm?user_number_id=469257897"
                                           target="_blank">dplay旗舰店</a>
                                    </td>
                                    <td>4.8</td>
                                    <td>--</td>
                                    <td><img src="http://img.alicdn.com/newrank/s_cap_4.gif"></td>
                                    <td>上海</td>
                                    <td>1天1时31分</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-cloak class="price-chart" v-if="resultType == 'price'">
                            price
                        </div>
                        <div v-cloak class="time-chart" v-if="resultType == 'time'">
                            time
                        </div>
                        <div v-cloak class="seller-chart" v-if="resultType == 'seller'">
                            seller
                        </div>
                    </div>
                </div>
            </div>
            <div class="instructions">
                <div class="show-instructions-btn" v-on:click="instructionsBtnClick()">
                    <img class="show-btn-icon" v-if="!isShowInstructions" src="/image/cpm_bottom.png" alt="">
                    <img class="show-btn-icon" v-if="isShowInstructions" src="/image/cpm_top.png" alt="">
                    <span>展开使用说明</span>
                </div>
                <div v-cloak class="instructions-content" v-if="isShowInstructions">
                    <div class="content-item">
                        <h3>热词成交分析：</h3>
                        <p>此功能为分析<span class="text_danger">全网关键词</span>成交环境的<span class="text_danger">竞争度</span>。</p>
                    </div>
                    <div class="content-item">
                        <h3>功能详情：</h3>
                        <p>根据关键词在全网成交的查询结果，分析类目关键词的<span class="text_danger">市场容量</span>、<span
                                class="text_danger">价格段分布</span>、成交市场<span class="text_danger">竞争度大小</span>、<span
                                class="text_danger">下架时间分布</span>、<span class="text_danger">卖家等级等</span>，帮助商家找到精准的竞争对手（行业标杆），制定推广目标，制定营销推广方案以及根据竞争环境不断调整策略，最终帮助商家占领市场份额提升利润。
                        </p>
                    </div>
                    <div class="content-item">
                        <h3>价格分析：</h3>
                        <p>了解各个价格段内销量、宝贝数，分析各个价格段的<span class="text_danger">市场容量及竞争度</span>-为商家产品定位提供数据支持</p>
                    </div>
                    <div class="content-item">
                        <h3>卖家分析：</h3>
                        <p>分析宝贝所属店铺的等级，找到竞品对象</p>
                    </div>
                    <div class="content-item">
                        <h3>下架分析：</h3>
                        <p>分析<span class="text_danger">价格段</span>各个宝贝上下架时间，分析不同上下架时间的宝贝数，成交量，卖家等级等</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="case-method" v-if="navType == 'case'">
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/key_rank/key_rank_case1.png"
                     alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/key_rank/key_rank_case3.png"
                     alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/key_rank/key_rank_case2.png"
                     alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/key_rank/key_rank_case4.png"
                     alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/key_rank/key_rank_case5.png"
                     alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/key_rank/key_rank_case6.png"
                     alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/key_rank/key_rank_case7.png"
                     alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/key_rank/key_rank_case8.png"
                     alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/key_rank/key_rank_case9.png"
                     alt="">
            </div>
            <div>
                <img style="display: block;" src="http://static.charenqi.cn/src/images/key_rank/key_rank_case10.png"
                     alt="">
            </div>
        </div>
    </div>
    <div data-footer="footer"></div>
</div>
<script data-main="/require-config.js" src="/lib/require/require.js"></script>
</body>
</html>